/*
    GRID
*/
@media (min-width: 1500px) {
  .container {
    width: 80%;
  }
  .column:first-child, .columns:first-child {
    margin-left: 0;
  }
  .one {
    &.column, &.columns {
      width: 8.333333333%;
    }
  }
  .two.columns {
    width: 16.666666666%;
  }
  .three.columns {
    width: 25%;
  }
  .four.columns {
    width: 33.3333333333%;
  }
  .five.columns {
    width: 41.6666666666%;
  }
  .six.columns {
    width: 50%;
  }
  .seven.columns {
    width: 58.333333333%;
  }
  .eight.columns {
    width: 66.666666666%;
  }
  .nine.columns {
    width: 75%;
  }
  .ten.columns {
    width: 83.3333333333%;
  }
  .eleven.columns {
    width: 91.6666666666%;
  }
  .twelve.columns {
    width: 100%;
    margin-left: 0;
  }
  .one-third.column {
    width: 30.6666666667%;
  }
  .two-thirds.column {
    width: 65.3333333333%;
  }
  .one-half.column {
    width: 48%;
  }
  /* Offsets */
  .offset-by-one {
    &.column, &.columns {
      margin-left: 8.66666666667%;
    }
  }
  .offset-by-two {
    &.column, &.columns {
      margin-left: 17.3333333333%;
    }
  }
  .offset-by-three {
    &.column, &.columns {
      margin-left: 26%;
    }
  }
  .offset-by-four {
    &.column, &.columns {
      margin-left: 34.6666666667%;
    }
  }
  .offset-by-five {
    &.column, &.columns {
      margin-left: 43.3333333333%;
    }
  }
  .offset-by-six {
    &.column, &.columns {
      margin-left: 52%;
    }
  }
  .offset-by-seven {
    &.column, &.columns {
      margin-left: 60.6666666667%;
    }
  }
  .offset-by-eight {
    &.column, &.columns {
      margin-left: 69.3333333333%;
    }
  }
  .offset-by-nine {
    &.column, &.columns {
      margin-left: 78.0%;
    }
  }
  .offset-by-ten {
    &.column, &.columns {
      margin-left: 86.6666666667%;
    }
  }
  .offset-by-eleven {
    &.column, &.columns {
      margin-left: 95.3333333333%;
    }
  }
  .offset-by-one-third {
    &.column, &.columns {
      margin-left: 34.6666666667%;
    }
  }
  .offset-by-two-thirds {
    &.column, &.columns {
      margin-left: 69.3333333333%;
    }
  }
  .offset-by-one-half {
    &.column, &.columns {
      margin-left: 52%;
    }
  }
}

/*
  MOBILE NAV
*/

#mnav{
  display: none;
}


/*
    HEADER
*/

.focus-block{
    height:100%;
    background-image: url(../images/focus.png);
    background-size: cover;
    background-attachment: fixed;


    header.header{

        height: 85px;
        padding: 20px 0;
        border-bottom: 1px solid rgba(255,255,255,0.3);

        .logo-section{

              float:left;

            .title{
                display: inline-block;
                float:left;
                margin: 0;
                line-height:2.5rem;
                font-size:26px;
                font-weight: 300;
            }

            img.logo{
                @extend .title;
            }
        }

        .top-nav{
            float:right;
            ul.nav{
                list-style-type: none;
                li{
                    float: left;
                    margin: 0 10px;
                    a{
                        font-size: 14px;
                        opacity: 0.8;
                        border-bottom: 1px solid rgba(255,255,255,0);
                        transition: all 0.1s ease-in;
                    }

                    a:hover{
                        font-size: 14px;
                        opacity: 1;
                        border-bottom: 1px solid rgba(255,255,255,0.5);
                        transition: all 0.1s ease-in;
                    }
                }
            }
        }
    }

    section.main{
        text-align: center;
        margin-top: 15%;
        height: 100%;

        h1{
            font-size: 3rem;
            margin-bottom:0.5em;
        }

        p{
            margin: 0 150px;
            opacity: 0.9;
            margin-bottom: 4em;
        }

    }
}


/*
    MAIN ABOUT
*/

.about-container{
    background-color:$secondary-color;
    color: $text-dark;
    background-image: url("../images/focus.png");
    background-size: cover;
    background-attachment: fixed;
    text-align: right;

    div.about{
        padding: 2em 0 5em;

        .title{
            display:inline-block;
            margin-bottom: .5em;

            border-bottom: 2px $primary-darken solid;
        }

        .about-text{
                text-align: justify;
            a{
                color: $primary-darken;
            }
        }
    }

    .visual{
        margin:2em 0;
        background-image: url("../images/mockup%202.png");
        background-size: cover;
    }
}

.content-container{
    padding:3em 0 1em;
    background-image: url("../images/focus-clear.jpg");
    background-size: cover;
    background-attachment: fixed;


    .twelve{
        background-color:$primary-darken;
        color: $text-dark;
        background-image: url("../images/focus.png");
        background-size: cover;
        background-attachment: fixed;
        text-align:left;
        color: $text-color;

        h2{
            margin-left:2.5em;
        }
    }

    .wrapper{
        margin: 0 5%;

        background-color:rgba(0,0,0,0.3);
        box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        border-radius: 5px;
        overflow: hidden;

        .item{
            height: 450px;
            position: relative;
            background-size: auto 130%;
            transition: all 0.3s ease-in-out;
            cursor:pointer;
            overflow: hidden;

             .content{
                position: absolute;
                bottom: -40px;
                left: 0;
                right: 0;
                top: 0;
                padding: 2em;
                background: -moz-linear-gradient(top,  rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

                transition: all 0.3s ease-in-out;
                .wrap{
                    position: absolute;
                    bottom: 0;
                    transition: all 0.3s ease-in-out;

                    h3{
                      position: relative;
                      margin-bottom: 0;
                    }

                     .sub{
                         padding: 0 1em 1em;
                         position: relative;
                         opacity: 0;
                         transition: all 0.5s ease-in-out;
                     }
                 }

            }
        }

        .item:hover{
            background-size: auto 140%;
            background-position: -50px -50px;          
            -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
            filter: grayscale(100%);
            transition: all 0.3s ease-in-out;

            .content{

                .wrap{
                    bottom: 20px;
                    transition: all 0.3s ease-in-out;
                    h3{

                    }

                    .sub{
                        opacity: 1;
                        transition: all 0.5s ease-in-out;
                    }
                }
            }
        }

        .item.first{
            background-image: url("../images/1stimage.jpg");
        }

        .item.second{
            background-image: url("../images/2ndimage.jpg");
        }

        .item.third{
            background-image: url("../images/3rdimage.jpg");
        }

        .read-more{
            background-color: rgba(0,0,0,0.2);
            text-align:center;
            padding: 1em 2em 2em;

            p{
              margin-bottom: 2em;
            }
        }
    }
}

.second-content-container{
    padding: 1em 5% 2em;
    background-image: url("../images/focus-clear.jpg");
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;

    .inner{
      border-radius: 5px;
      overflow: hidden;
    }

      .training{
          background-color: $text-color;
          color: $dark-color;
          padding: 2em 4em;
          text-align: left;

          .title{
              display:inline-block;
              margin-bottom: .5em;

              border-bottom: 2px $primary-darken solid;
          }

          p, ul{
            text-align: justify;
            padding-right: 2em;
          }
      }

      .commitment{
          background-color: $primary-darken;
          padding: 2em 4em;
          text-align: left;

          .title{
              display:inline-block;
              margin-bottom: .5em;

              border-bottom: 2px $text-color solid;
          }

          p, ul{
            text-align: justify;
            padding-right: 2em;
          }
      }

}

.third-content-container{
    padding: 1em 5% 2em;
    background-image: url("../images/focus-clear.jpg");
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;

    .inner{
      border-radius: 5px;
      overflow: hidden;
    }

      .content{
          background-color: $text-color;
          color: $dark-color;
          padding: 2em 4em;
          text-align: center;

          .title{
              display:inline-block;
              margin-bottom: .5em;

              border-bottom: 2px $primary-darken solid;
          }

          a{
            display:inline-block;;
            margin-top: 1em;
            padding: 20px 50px;
            font-size: 16px;
          }
        }
}

.paralax-container{
    background-image: url("../images/focus-clear.jpg");
    background-size: cover;
    background-attachment: fixed;
    height:100px;
    display:none;
}

/*
    FOOTER
*/

footer.footer{
    background-color:$dark-color;
    color: $text-dark;
    background-image: url("../images/focus.png");
    background-size: cover;
    background-attachment: fixed;
    color: #fff;

    padding: 2em 1em 5em;
    background-image: url(../images/focus.png);
    background-size: cover;
    background-attachment: fixed;

    text-align: center;

    .title{
        display:inline-block;
        margin-bottom: 0;
        border-bottom: 2px $primary-darken solid;
    }

    a{
        color: $primary-darken;
    }
}

/*
    CONSTRUCTION
*/

.hero-unit {
  margin: 5% auto 0 auto;
  font-size: 18px;
  padding: 60px;
  color: #fff;
  text-align:center;

  h1 {
    font-size: 60px;
    margin: -32px 0 0;
    font-weight: 100;
  }

    h2{
        font-size: 30px;
        font-weight: 100;
        font-style: italic;
        text-transform: lowercase;
    }
}
