/*
    HEADER
*/

.focus-block{
    height:100%;  
    background-image: url(../images/focus.png);
    background-size: cover;
    
    
    header.header{
    
        height: 85px;
        padding: 20px 0;
        border-bottom: 1px solid rgba(255,255,255,0.3);        

        .logo-section{    

              float:left;  

            .title{
                display: inline-block;
                float:left;  
                margin: 0;
                line-height:2.5rem;
                font-size:26px;
                font-weight: 300;
            }

            img.logo{
                @extend .title;                    
            }
        }

        .top-nav{
            float:right;       
            ul.nav{
                list-style-type: none;
                li{
                    float: left;
                    margin: 0 10px;
                    a{
                        font-size: 14px;   
                        opacity: 0.8;
                        border-bottom: 1px solid rgba(255,255,255,0);        
                        transition: all 0.1s ease-in;
                    }

                    a:hover{
                        font-size: 14px;   
                        opacity: 1;
                        border-bottom: 1px solid rgba(255,255,255,0.5);        
                        transition: all 0.1s ease-in;
                    }
                }
            }
        }
    }

    section.main{
        text-align: center;
        margin-top: 15%;    
        height: 100%;

        h1{
            font-size: 3rem;
            margin-bottom:0.5em;
        }

        p{      
            margin: 0 150px;
            opacity: 0.9;    
            margin-bottom: 4em;
        }

    }
}


/*
    MAIN ABOUT
*/

main.about{       
    
    padding: 2em 0 5em;
    background-color:$secondary-color;
    color: $text-dark;
    text-align: center;
    
    background-image: url("../images/mockup 2.png");
    background-repeat: no-repeat;
    background-position: bottom -350px right -700px;
    background-size: 1800px;
    
    .title{
        display:inline-block;
        margin-bottom: .5em;
        
        border-bottom: 2px $primary-color solid;
    }  
    
    .about-text{
        width: 70%;        
        text-align: left;        
        
        a{
            color: $primary-darken;
        }
    }
}

/*
    FOOTER
*/

footer.footer{
    background-color:$dark-color;
    padding: 2em 1em 5em;
    
    text-align: center;
    
    .title{
        display:inline-block;
        margin-bottom: 0;
        border-bottom: 2px $primary-color solid;
    }
    
    a{
        color: $primary-color;
    }
}


/*
    GRID
*/
.container{
    width: 1000px;
    margin:auto;
}


/*
    CONSTRUCTION
*/

.hero-unit {
  margin: 5% auto 0 auto;  
  font-size: 18px;    
  padding: 60px;
  color: #fff;
  text-align:center;
    
  h1 {
    font-size: 60px;  
    margin: -32px 0 0;
    font-weight: 100;
  }
    
    h2{
        font-size: 30px;  
        font-weight: 100;
        font-style: italic;
        text-transform: lowercase;
    }
}