/*
    COLOR
*/

$text-color: #fff;
$text-dark: #424242;

$primary-color: #4fba6f;
$primary-darken: #009875;

$secondary-color: #ECEFF1;
$dark-color: #212121;


/*
    FONT
*/

$h1-size: 4rem;
$h2-size: 3.2rem;
$h3-size: 2.4rem;
$h4-size: 1.8rem;
$h5-size: 1.4rem;
$h6-size: 1.2rem;
