// bower:scss
// endbower

@import 'https://fonts.googleapis.com/css?family=Raleway';
@import '_variables.scss';
@import '_form.scss';

/*
    BASE
*/

/*ie9 fix*/
* {
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;   
}

body, html {
    background: $primary-color; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  $primary-color 0%, $primary-darken 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,$primary-color), color-stop(100%,$primary-darken)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  $primary-color 0%,$primary-darken 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  $primary-color 0%,$primary-darken 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  $primary-color 0%,$primary-darken 100%); /* IE10+ */
    background: linear-gradient(135deg,  $primary-color 0%,$primary-darken 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$primary-color', endColorstr='$primary-darken',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    
    padding: 0;
    margin: 0;
    
    color: $text-color;
    
    overflow-x:hidden;
    width: 100%;
    height:100%;
    
    font-family: 'Raleway', sans-serif;
}

a{
    color: $text-color;
    text-decoration: none;    
}

h1,h2,h3,h4,h5,h6{
    font-weight: 300;
}

h1{
    font-size: $h1-size;
    font-weight: 900;
}


h2{
    font-size: $h2-size;
}

h3{
    font-size: $h3-size;
}

h4{
    font-size: $h4-size;
}

h5{
    font-size: $h5-size;
}

h6{
    font-size: $h6-size;
}

p{
    font-size: 1.1em;
    line-height:1.8rem;
}


@import '_desktophd.scss';
@import '_desktop.scss';
@import '_tablet.scss';
@import '_phablet.scss';
@import '_mobile.scss';

