// bower:scss
// endbower

@import 'https://fonts.googleapis.com/css?family=Roboto';

/*ie9 fix*/
* {
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
    background: #4fba6f; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #4fba6f 0%, #009875 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#4fba6f), color-stop(100%,#009875)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #4fba6f 0%,#009875 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #4fba6f 0%,#009875 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #4fba6f 0%,#009875 100%); /* IE10+ */
    background: linear-gradient(135deg,  #4fba6f 0%,#009875 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fba6f', endColorstr='#009875',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    
    color: #fff;
    
    overflow:hidden;
    width: 100%;
    height:100%;
    
    font-family: 'Roboto', sans-serif;
}

.hero-unit {
  margin: 5% auto 0 auto;  
  font-size: 18px;    
  padding: 60px;
  color: #fff;
  text-align:center;
    
  h1 {
    font-size: 60px;  
    margin: -32px 0 0;
    font-weight: 100;
  }
    
    h2{
        font-size: 30px;  
        font-weight: 100;
        font-style: italic;
        text-transform: lowercase;
    }
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@media (max-width: 540px) {
    .hero-unit {     
      padding: 10px;
      color: #fff;
      text-align:center;

      h1 {
        font-size: 40px;  
        margin: -32px 0 0;
        font-weight: 100;
      }

        h2{
            font-size: 20px;  
            font-weight: 100;
            font-style: italic;
            text-transform: lowercase;
        }
    }
}
