language: node_js
node_js:
- 5.5.0
deploy:
  provider: elasticbeanstalk
  access_key_id: $key
  secret_access_key:
    secure: $secret
  region: eu-west-1
  app: costcoachpro
  env: costcoachpro
  bucket_name: elasticbeanstalk-eu-west-1-868723413534
  on:
    branch: test
