.content-container{
    padding:3em 0 1em;
    background-image: url("../images/focus-clear.jpg");
    background-size: cover;
    background-attachment: fixed;


    .twelve{
        background-color:$primary-darken;
        color: $text-dark;
        background-image: url("../images/focus.png");
        background-size: cover;
        background-attachment: fixed;
        text-align:left;
        color: $text-color;

        h2{
            margin-left:2.5em;
        }
    }

    .wrapper{
        margin: 0 5%;

        background-color:rgba(0,0,0,0.3);
        box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        border-radius: 5px;
        overflow: hidden;

        .item{
            height: 450px;
            position: relative;
            background-size: auto 130%;
            transition: all 0.3s ease-in-out;
            cursor:pointer;

             .content{
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                top: 0;
                padding: 2em;
                background: -moz-linear-gradient(top,  rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

                transition: all 0.3s ease-in-out;
                .wrap{
                    position: absolute;
                    bottom: 0;
                    transition: all 0.3s ease-in-out;

                    h3{
                      position: relative;
                    }

                     p{
                         position: relative;
                         opacity: 0;
                         transition: all 0.5s ease-in-out;
                     }
                 }

            }
        }

        .item:hover{
            background-size: auto 140%;
            background-position: -50px -50px;
            transition: all 0.3s ease-in-out;
            -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
            filter: grayscale(100%);
            transition: all 0.3s ease-in-out;

            .content{

                .wrap{
                    bottom: 50px;
                    transition: all 0.3s ease-in-out;
                    h3{

                    }

                    p{
                        opacity: 1;
                        transition: all 0.5s ease-in-out;
                    }
                }
            }
        }

        .item.first{
            background-image: url("../images/1stimage.jpg");
        }

        .item.second{
            background-image: url("../images/2ndimage.jpg");
        }

        .item.third{
            background-image: url("../images/3rdimage.jpg");
        }

        .read-more{
            background-color: rgba(0,0,0,0.2);
            text-align:center;
            padding: 1em 2em 2em;
        }
    }
}

.second-content-container{
    padding: 2em;
    background-image: url("../images/focus-clear.jpg");
    background-size: cover;
    background-attachment: fixed;

    .container{

        .training{
            background-color: $text-color;
            color: $dark-color;
            background-image: url("../images/focus.png");
            background-size: cover;
            background-attachment: fixed;
            padding: 2em 2em;
            height:100%;

        }

        .commitment{
            background-color: $primary-darken;
            color: $text-color;
            background-image: url("../images/focus.png");
            background-size: cover;
            background-attachment: fixed;
            padding: 2em 2em;
            height:100%;
        }
    }
}

.paralax-container{
    background-image: url("../images/focus-clear.jpg");
    background-size: cover;
    background-attachment: fixed;
    height:100px;
    display:none;
}

/*
    FOOTER
*/

footer.footer{
    background-color:$dark-color;
    color: $text-dark;
    background-image: url("../images/focus.png");
    background-size: cover;
    background-attachment: fixed;
    color: #fff;

    padding: 2em 1em 5em;
    background-image: url(../images/focus.png);
    background-size: cover;
    background-attachment: fixed;

    text-align: center;

    .title{
        display:inline-block;
        margin-bottom: 0;
        border-bottom: 2px $primary-darken solid;
    }

    a{
        color: $primary-darken;
    }
}

/*
    CONSTRUCTION
*/

.hero-unit {
  margin: 5% auto 0 auto;
  font-size: 18px;
  padding: 60px;
  color: #fff;
  text-align:center;

  h1 {
    font-size: 60px;
    margin: -32px 0 0;
    font-weight: 100;
  }

    h2{
        font-size: 30px;
        font-weight: 100;
        font-style: italic;
        text-transform: lowercase;
    }
}
