@import '_variables.scss';
@import '_form.scss';

/*
    MAIN ABOUT
*/

.about-container{
    background-color: $secondary-color;
    color: $text-dark;
    background-image: url("../images/focus.png");
    background-size: cover;
    background-attachment: fixed;
    text-align: right;

    div.about{
        padding: 2em 0 5em;

        .title{
            display:inline-block;
            margin-bottom: .5em;

            border-bottom: 2px $primary-darken solid;
        }

        .about-text{
                text-align: justify;
            a{
                color: $primary-darken;
            }
        }
    }

    .visual{
        margin:2em 0;
        background-image: url("../images/mockup 2.png");
        background-size: cover;
    }
}
