// bower:scss
// endbower


@import '_variables.scss';
@import '_form.scss';

/*
    BASE
*/

/*ie9 fix*/
* {
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
    background: $primary-color; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  $primary-color 0%, $primary-darken 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,$primary-color), color-stop(100%,$primary-darken)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  $primary-color 0%,$primary-darken 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  $primary-color 0%,$primary-darken 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  $primary-color 0%,$primary-darken 100%); /* IE10+ */
    background: linear-gradient(135deg,  $primary-color 0%,$primary-darken 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$primary-color', endColorstr='$primary-darken',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    padding: 0;
    margin: 0;

    color: $text-color;

    overflow-x:hidden;
    width: 100%;
    height:100%;

    font-family: 'Raleway', sans-serif;
}

a{
    color: $text-color;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 300;
}

h1{
    font-size: $h1-size;
    font-weight: 900;
}


h2{
    font-size: $h2-size;
}

h3{
    font-size: $h3-size;
}

h4{
    font-size: $h4-size;
}

h5{
    font-size: $h5-size;
}

h6{
    font-size: $h6-size;
}

p{
    font-size: 1.1em;
    line-height:1.8rem;
}

/*
    GRID
*/


.container {
  position: relative;
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.column, .columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0;
  }
}

.row{
    width: 100%;
    display: flex;
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%;
  }
  .column:first-child, .columns:first-child {
    margin-left: 0;
  }
  .one {
    &.column, &.columns {
      width: 8.333333333%;
    }
  }
  .two.columns {
    width: 16.666666666%;
  }
  .three.columns {
    width: 25%;
  }
  .four.columns {
    width: 33.3333333333%;
  }
  .five.columns {
    width: 41.6666666666%;
  }
  .six.columns {
    width: 50%;
  }
  .seven.columns {
    width: 58.333333333%;
  }
  .eight.columns {
    width: 66.666666666%;
  }
  .nine.columns {
    width: 75%;
  }
  .ten.columns {
    width: 83.3333333333%;
  }
  .eleven.columns {
    width: 91.6666666666%;
  }
  .twelve.columns {
    width: 100%;
    margin-left: 0;
  }
  .one-third.column {
    width: 30.6666666667%;
  }
  .two-thirds.column {
    width: 65.3333333333%;
  }
  .one-half.column {
    width: 48%;
  }
  /* Offsets */
  .offset-by-one {
    &.column, &.columns {
      margin-left: 8.66666666667%;
    }
  }
  .offset-by-two {
    &.column, &.columns {
      margin-left: 17.3333333333%;
    }
  }
  .offset-by-three {
    &.column, &.columns {
      margin-left: 26%;
    }
  }
  .offset-by-four {
    &.column, &.columns {
      margin-left: 34.6666666667%;
    }
  }
  .offset-by-five {
    &.column, &.columns {
      margin-left: 43.3333333333%;
    }
  }
  .offset-by-six {
    &.column, &.columns {
      margin-left: 52%;
    }
  }
  .offset-by-seven {
    &.column, &.columns {
      margin-left: 60.6666666667%;
    }
  }
  .offset-by-eight {
    &.column, &.columns {
      margin-left: 69.3333333333%;
    }
  }
  .offset-by-nine {
    &.column, &.columns {
      margin-left: 78.0%;
    }
  }
  .offset-by-ten {
    &.column, &.columns {
      margin-left: 86.6666666667%;
    }
  }
  .offset-by-eleven {
    &.column, &.columns {
      margin-left: 95.3333333333%;
    }
  }
  .offset-by-one-third {
    &.column, &.columns {
      margin-left: 34.6666666667%;
    }
  }
  .offset-by-two-thirds {
    &.column, &.columns {
      margin-left: 69.3333333333%;
    }
  }
  .offset-by-one-half {
    &.column, &.columns {
      margin-left: 52%;
    }
  }
}

/*
    HELPERS
*/
.pull-right{
    float:right;
}


@import '_desktophd.scss';
@import '_desktop.scss';
@import '_tablet.scss';
@import '_phablet.scss';
@import '_mobile.scss';
